<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cti_digital>
            <import>
                <enable>0</enable>
                <batch_size>100</batch_size>
                <directory>import</directory>
                <processed_directory>archive</processed_directory>
                <file_name>stock.csv</file_name>
            </import>
        </cti_digital>
    </default>
</config>
