<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CtiDigital\InventoryImport\Api\Data\ImportLogInterface"
                type="CtiDigital\InventoryImport\Model\Data\ImportLogData"/>
    <preference for="CtiDigital\InventoryImport\Api\ImportLogRepositoryInterface"
                type="CtiDigital\InventoryImport\Model\ImportLogRepository"/>
    <preference for="CtiDigital\InventoryImport\Api\Commands\ImportLog\DeleteByIdCommandInterface"
                type="CtiDigital\InventoryImport\Command\ImportLog\DeleteByIdCommand"/>
    <preference for="CtiDigital\InventoryImport\Api\Commands\ImportLog\GetByIdCommandInterface"
                type="CtiDigital\InventoryImport\Command\ImportLog\GetByIdCommand"/>
    <preference for="CtiDigital\InventoryImport\Api\Commands\ImportLog\SaveCommandInterface"
                type="CtiDigital\InventoryImport\Command\ImportLog\SaveCommand"/>
    <preference for="CtiDigital\InventoryImport\Api\Config\ConfigProviderInterface"
                type="CtiDigital\InventoryImport\Model\Config\ConfigProvider"/>
    <preference for="CtiDigital\InventoryImport\Api\Import\FileProcessorInterface"
                type="CtiDigital\InventoryImport\Model\Import\FileProcessor"/>
    <preference for="CtiDigital\InventoryImport\Api\Import\ProductQtyProcessorInterface"
                type="CtiDigital\InventoryImport\Model\Import\ProductQtyProcessor"/>
    <preference for="CtiDigital\InventoryImport\Api\Import\ImportProcessorInterface"
                type="CtiDigital\InventoryImport\Model\Import\ImportProcessor"/>
    <preference for="CtiDigital\InventoryImport\Api\Import\TemporaryStorageInterface"
                type="CtiDigital\InventoryImport\Model\Import\TemporaryStorage"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ctidigital_inventory_import"
                      xsi:type="object">CtiDigital\InventoryImport\Console\Command\InventoryImportCommand</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="InventoryImportLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">CtiDigital\InventoryImport\Logger\Handler\InventoryImportLogger</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="CtiDigital\InventoryImport\Model\Import\FileProcessor"
          xsi:type="object">
        <arguments>
            <argument name="logger" xsi:type="object">InventoryImportLogger</argument>
        </arguments>
    </type>
    <type name="CtiDigital\InventoryImport\Model\Import\ImportProcessor"
          xsi:type="object">
        <arguments>
            <argument name="logger" xsi:type="object">InventoryImportLogger</argument>
        </arguments>
    </type>
    <type name="CtiDigital\InventoryImport\Model\Import\TemporaryStorage"
          xsi:type="object">
        <arguments>
            <argument name="logger" xsi:type="object">InventoryImportLogger</argument>
        </arguments>
    </type>
</config>
